# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environments
venv/
.venv/
env/

# IDE and Editor Files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Streamlit local runtime
.streamlit/secrets.toml

# Environment & Secrets
.env
.env.*
*.secret

# Scratch, Temp & Logs
scratch/
tmp/
*.log
*.tmp
*.bak
\#\ Project\ tasks.txt
